[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
sphinx = "*"
pytest-cov = "*"
pytest = "*"
codecov = "*"
setuptools-scm = "*"
expects = "*"
doc8 = "*"

[packages]
punq = {editable = true,path = "."}
attrs = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
